{% extends 'layout.html' %}

{% block content %}
    <div>
        <div class="container">
            <div style="margin-bottom: 10px">
                <a class="btn btn-primary" href="/admin/add/" target="_blank">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    新建管理员
                </a>

                <div style="float: right; width:300px;">
                    <form method="get">
                        <div class="input-group">
                            <input type="text" class="form-control" name="search_name" placeholder="请输入用户名..."
                                   value="{{ search_name }}">
                            <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>
                        </span>
                        </div>
                    </form>

                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                    用户列表
                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>用户名</th>
                            <th>密码</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for obj in queryset %}
                            <tr>
                                <th>{{ obj.id }}</th>
                                <th>{{ obj.username }}</th>
                                <th>******</th>
                                <th>
                                    <a href="/admin/edit/{{ obj.id }}" class="btn btn-primary btn-xs">编辑</a>
                                    <a href="/admin/delete/{{ obj.id }}" class="btn btn-danger btn-xs">删除</a>
                                </th>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div>
                <ul class="pagination">
                    {{ page_string }}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}